---
import Layout from '../layouts/Layout.astro';
import Top from '../components/Top.astro';
import Experience from '../components/Experience.astro';
import Proyects from '../components/Proyects.astro';
import About from '../components/About.astro';
import Footer from '../components/commons/Footer.astro';
---

<Layout 
title="Portfolio Dev - Alejandro"
description="Alejandro's Portfolio, Fullstack Web Developer"
>
	<main>
		<Top />
		<Experience />			
		<Proyects />
		<About />
		<Footer />
	</main>
</Layout>

<style>
	@media (max-width: 768px) {
		main{
			padding: 0 6rem;
		}
	}

	@media (max-width: 425px) {
		main{
			padding: 0 2rem;
		}
	}
</style>
