<header class="flex items-center py-3 mx-auto sm:w-full justify-end sticky top-0">
    <nav class="flex flex-row gap-x-4 mx-auto">
        <a href="#top">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </nav>
</header>

<style>
    nav{
        background: #4c4c4c;
        padding: 10px 20px;
        border-radius: 10px;
    }

    a{
        text-shadow: #fff 0px 0px 5px;
    }
</style>
