<div>
    <h2>Code Editor</h2>
    <p>From my days as a begginer in development, I starting using <a href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">VSCode Editor</a>, when I start the college I start to use <a href="https://visualstudio.microsoft.com/es/" target="_blank" rel="noopener noreferrer">Visual Studio</a> and <a href="https://la.mathworks.com/" target="_blank" rel="noopener noreferrer">MatLab</a>, but I cannot lie about my love for Visual Studio Code</p>
    <h2>Theme</h2>
    <p>I use theme dark for default of Visual Studio Code 2019</p>
    <h2>My favorite extensions</h2>
    <ul>
        <li>
            <p><a href="https://marketplace.visualstudio.com/items?itemName=GitHub.copilot" target="_blank">Git Hub Copilot</a>: I use this extension for develop my pages and Apps, Copilot is the best way to use the AI to your help</p>
        </li>
        <li>
            <p><a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer" target="_blank">Live Server</a>: I use this extension specially for the auto refresh of the browser and autosave of the files</p>
        </li>
    </ul>
    <h2>Terminal</h2>
    <p>I usually use PowerShell, but I decored with <a href="https://ohmyposh.dev/" target="_blank" rel="noopener noreferrer">Oh My Posh</a>, Today I'm using Linux Terminal, Ubuntu</p>
</div>

<style>
    /* Styles */
    :root{
        --primary-color: rgba(96, 165, 250, 0.8);
        --secondary-color: #1f1f1f;
        --background-color: #121212;
    }
    *{
        font-family: 'Onest', system-ui, sans-serif;
    }
    h2{
        color: var(--primary-color);
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p{
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;
    }
</style>
