<div class="my-8">
    <p>I am a junior full stack web developer with experience in various areas. My skills include relational database development, as well as using frameworks like React, and I also have limited experience with .NET and Django. Additionally, I have design skills using tools such as Photoshop and Illustrator, allowing me to work in both UI/UX design and graphic design. I speak English fluently in both conversation and writing, facilitating communication in international environments.</p>
</div>

<style>
    *{
        font-family: 'Onest', system-ui, sans-serif;
    }
</style>